body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #444444; 
    text-align: center;
    color: rgb(255, 176, 29);
    font-size: 1.5rem;
}

main {
    flex: 1;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.2s;
}

nav li a:hover {
    background-color: #9c871f;
}

footer {
    background-color: #3b3b3b; 
    color: rgb(255, 176, 29);
    text-align: center; 
    padding: 10px; 
    font-size: 1.2rem;
}